<div class="form-container">
    <form #employees="ngForm" (ngSubmit)="saveData()">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" [(ngModel)]="employee.name" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Designation</label>
        <input type="text" name="designation" class="form-control" id="exampleInputPassword1" [(ngModel)]="employee.designation" placeholder="Enter designation">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Location</label>
        <input type="text" name="location" class="form-control" id="exampleInputPassword1" [(ngModel)]="employee.location" placeholder="Enter location">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Salary</label>
        <input type="text" name="salary" class="form-control" id="exampleInputPassword1" [(ngModel)]="employee.salary" placeholder="Enter salary">
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary" routerLink="/employeelist">Cancel</button>
    </form>
  </div>